# Ignore the test folder (virtual environment)
test/

# Ignore the data folder
data/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore send_email.py file
# job_scrapper/utils/send_email.py


# Ignore the .env file
.env
